###################
# project specific
###################
# OS
###################
.DS_Store
.DS_Store?
._*
.project
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
###################
# build tools / IDE
###################
node_modules
.idea
.deploy.sh
vendor
.Build
###################
# sonar
###################
target
.sonar
#######
# TER
#######
TER-releases