/TER-releases export-ignore
/.Build export-ignore
/.github export-ignore
/.gitlab export-ignore
/node_modules export-ignore
/Tests export-ignore
/.codeclimate.phpmd.typo3.xml export-ignore
/.codeclimate.yml export-ignore
/.constants.php export-ignore
/.editorconfig.yml export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/.gitlab-ci.yml export-ignore
/.php-cs-fixer.php export-ignore
/composer.lock export-ignore
/package.json export-ignore
/package-lock.json export-ignore
/yarn.lock export-ignore
/phpcs.xml export-ignore
/phpstan.neon export-ignore
/phpstan-baseline.neon export-ignore
/rector.php export-ignore
/rector.*.php export-ignore
/README.md export-ignore
/typoscript-lint.yml export-ignore
