parameters:
	ignoreErrors:
		-
			message: "#^Constructor of class Jpmschuler\\\\TvplusContentslide\\\\SlideController has an unused parameter \\$_\\.$#"
			count: 1
			path: Classes/SlideController.php

		-
			message: "#^If condition is always true\\.$#"
			count: 1
			path: Classes/SlideController.php

		-
			message: "#^Variable \\$keys on left side of \\?\\? always exists and is not nullable\\.$#"
			count: 1
			path: Classes/SlideController.php
